{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.body_class %} class="{{ page.body_class }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %} data-spy='scroll' data-target='.sidebar-nav'>
  <div class="container">
    <div class="masthead">
      <div class="row-header">
        <h3 class="muted">
          <a href="/"><img alt="Rc-logo-ie" src="/images/rc-logo.png">
        </a></h3>
        <div class="pull-right jumbo-text">
          <h2>
            RateCity lets you <a href="/home-loans">compare home loans</a>,
            <a href="/credit-cards">compare credit cards</a>, <br />
            <a href="/car-insurance">compare car insurance</a>,
            <a href="/personal-loans">compare personal loans</a> and much more.
          </h2>
        </div>
      </div>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            {% include custom/navigation.html %}
          </div>
        </div>
    </div>
  </div>
  <div class="container" id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
    <div class="row-fluid">
      <footer class="footer-page" role="contentinfo">
      {% include footer.html %}
      </footer>
    </div>
  </div>
  {% include after_footer.html %}
</body>
</html>

