<h2>Home Loans Medium Rectangle Top 5 Widget</h2>

<dl>
  <dt>Flash</dt>
  <dd>
  <object width="300" height="250" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
    <param value="/assets/rate-city-homeloans-1.3-300x250.swf" name="movie">
    <param value="high" name="quality">
    <param value="FlashVars" name="VarA=111&VarB=222&VarC=333">
    <embed width="300" height="250" FlashVars="VarA=111&VarB=222&VarC=333" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" quality="high" src="/assets/rate-city-homeloans-1.3-300x250.swf">
  </object>
  </dd>
  <dd><a href="/assets/rate-city-homeloans-1.3-300x250.swf">RateCity Top 5 Home Loans Medium Rectangle Flash Movie Download</a></dd>

  <dt>300x250 Backup GIF<dt>
  <dd><img src="/assets/rate-city-backup-300x250.gif"></dd>
  <dd><a href="/assets/rate-city-backup-300x250.gif">RateCity Top 5 Medium Rectangle Backup GIF Download</a></dd>
</dl>
