<h2>'Top Strip' Top 3 Widget</h2>

<dl>
  <dt>Flash</dt>
  <dd>
  <object width="429" height="43" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
    <param value="rate-city-top3-1.2-300x250.swf" name="movie">
    <param value="high" name="quality">
    <param value="testA=1&testB=2&testC=3" name="FlashVars">

    <embed width="429" height="43" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" FlashVars="testA=1&testB=2&testC=3" quality="high" src="/assets/rate-city-top3-1.2-300x250.swf?nocache=1531018153">
  </object>
  </dd>
  <dd><a href="/assets/rate-city-top3-1.2-300x250.swf">RateCity Top 3 'Top Strip' Flash Movie Download</a></dd>
  <dt>429x43 Backup GIF<dt>
  <dd><img src="/assets/rate-city-top3.gif"></dd>
  <dd><a href="/assets/rate-city-top3.gif">RateCity Top 3 'Top Strip' Backup GIF Download</a></dd>
</dl>
