<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h3>If you are interested in adding RateCity Widgets to your site, please <a href="http://www.ratecity.com.au/contact-us">complete our contact form</a>.</h3>
<div class="container footer">
  <div class="row-fluid">
    <div class="span3">
      <img alt="Rc-logo-ie" src="/images/rc-logo.png">
    </div>
    <div class="span9">
      <ul class="inline vertical-links">
        <li><a href="//www.ratecity.com.au/home-loans">Loans</a></li>
        <li><a href="//www.ratecity.com.au/credit-cards">Credit Cards</a></li>
        <li><a href="//www.ratecity.com.au/savings-accounts">Savings</a></li>
        <li><a href="//www.ratecity.com.au/car-insurance">Insurance</a></li>
        <li><a href="//www.ratecity.com.au/term-deposits">Investments</a></li>
        <li><a href="//www.ratecity.com.au/home-loans/calculator">Calculators</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span11">
      <ul class="inline links">
        <li><a href="//www.ratecity.com.au/advertise-on-ratecity">Advertise</a></li>
        <li><a href="//www.ratecity.com.au/media-room">Media Room</a></li>
        <li><a href="//www.ratecity.com.au/privacy-policy">Privacy Policy</a></li>
        <li><a href="//www.ratecity.com.au/terms-of-use">Terms of Use</a></li>
        <li><a href="//www.ratecity.com.au/contact-us">Contact Us</a></li>
        <li><a href="//www.ratecity.com.au/sitemap">Sitemap</a></li>
        <li><a href="//www.ratecity.com.au/financial-dictionary">Financial Dictionary</a></li>
        <li><a href="//www.ratecity.com.au/disclaimer">Disclaimer</a></li>
        <li><a href="//www.ratecity.com.au/fscg">FSCG</a></li>
      </ul>
      <ul class="inline links">
        <li><a href="//www.ratecity.com.au/companies">A-Z</a></li>
        <li><a href="//www.ratecity.com.au/car-insurance">Car Insurance</a></li>
        <li><a href="//www.ratecity.com.au/credit-cards">Credit Cards</a></li>
        <li><a href="//www.ratecity.com.au/home-loans">Home Loans</a></li>
        <li><a href="//www.ratecity.com.au/personal-loans">Personal Loans</a></li>
        <li><a href="//www.ratecity.com.au/car-loans">Car Loans</a></li>
        <li><a href="//www.ratecity.com.au/savings-accounts">Savings Account</a></li>
        <li><a href="//www.ratecity.com.au/term-deposits">Term Deposits</a></li>
        <li>ABN 12 122 743 542</li>
        <li>AFSL &amp; ACL 316710</li>
      </ul>
    </div>
    <div class="span1">
      <p>
      <small>© 2007–2013 RateCity</small>
      </p>
    </div>
  </div>
</div>
