<div class='row-fluid'>
  <div class='span3'>
    <h2>Javascript Widgets</h2>
    <p>An integration point for our partners, allowing delivery of our top products onto your website using javascript.</p>
    <p><a href="/widgets">View details &raquo;</a></p>
  </div>
  <div class='span3'>
    <h2>Flash Widgets</h2>
    <p>An integration point for our partners, allowing delivery of our top products onto your website using flash.</p>
    <p><a href="/widgets/flash.html">View details &raquo;</a></p>
  </div>
  <div class='span3'>
    <h2>Search Widgets</h2>
    <p>An integration point for our partners, allowing consumption of the RateCity JS Search Widget.</p>
    <p><a href="/widgets/search.html">View details &raquo;</a></p>
  </div>
  <div class='span3'>
    <h2>Cheveret</h2>
    <p>Rails library for generating flexible width HTML tables</p>
    <p><a href="https://github.com/ratecity/cheveret">View cheveret &raquo;</a></p>
  </div>
</div>

